#root, html {
	background-color: #251b38;
} 
 
 /* ------------ Fade in  -------------- */

 .fade-in {
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
	-moz-animation: fadeIn linear 3s;
	-o-animation: fadeIn linear 3s;
	-ms-animation: fadeIn linear 3s;
  }

  .fade-in-page {
	animation: fadeIn linear 500ms;
	-webkit-animation: fadeIn linear  500ms;
	-moz-animation: fadeIn linear  500ms;
	-o-animation: fadeIn linear  500ms;
	-ms-animation: fadeIn linear 500ms;
  }
  
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
